/**************************************************************************
	Dynamic Dialog Box Demo
	Resources File
	Written by Atif Aziz
**************************************************************************/

#include <windows.h>
#include "ids.h"

	// Dialog Boxes

TextFormat DIALOG 18, 18, 280, 205
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Text Format"
FONT 8, "Helv"
BEGIN
	LTEXT "&Property:", -1, 8, 8, 32, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", IDC_PROPERTY, "LISTBOX", LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 8, 20, 64, 124
	DEFPUSHBUTTON "OK", IDOK, 8, 152, 64, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 8, 168, 64, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "&Help", 105, 8, 184, 64, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "", IDC_FRAME_DIALOGBOX, "static", SS_BLACKFRAME | WS_CHILD | NOT WS_VISIBLE, 76, 4, 200, 196
END

Font DIALOG 18, 18, 200, 196
STYLE WS_POPUP | WS_BORDER
CAPTION "Font Category"
FONT 8, "Helv"
BEGIN
	LTEXT "&Font:", 201, 4, 4, 20, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", 202, "COMBOBOX", CBS_SIMPLE | CBS_AUTOHSCROLL | CBS_NOINTEGRALHEIGHT | CBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 4, 16, 80, 48
	LTEXT "Font St&yle:", 203, 92, 4, 36, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", 204, "COMBOBOX", CBS_SIMPLE | CBS_AUTOHSCROLL | CBS_NOINTEGRALHEIGHT | CBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 92, 16, 60, 48
	LTEXT "&Size:", 205, 160, 4, 36, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", 206, "COMBOBOX", CBS_SIMPLE | CBS_AUTOHSCROLL | CBS_NOINTEGRALHEIGHT | CBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 160, 16, 36, 48
	CONTROL "Effects", 207, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 4, 68, 80, 40
	CONTROL "Stri&keout", IDC_STRIKEOUT, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 80, 44, 12
	CONTROL "&Underline", IDC_UNDERLINE, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 92, 44, 12
	CONTROL "Sample", 210, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 92, 68, 104, 68
	LTEXT "&Color:", 218, 4, 112, 24, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", 211, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 124, 80, 33
	CTEXT "This font style is limited for the display.\nThe closest style will be used for printing.", 212, 4, 144, 192, 16, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "Background", 213, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 4, 164, 192, 28
	CONTROL "Auto&matic", 214, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 176, 44, 12
	CONTROL "Tra&nsparent", 215, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 68, 176, 52, 12
	CONTROL "Opa&que", 216, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 136, 176, 40, 12
END


Patterns DIALOG 18, 18, 200, 196
STYLE WS_POPUP | WS_BORDER
CAPTION "Patterns Category"
FONT 8, "Helv"
BEGIN
	CONTROL "Border", 400, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 4, 4, 196, 84
	CONTROL "&Automatic", 401, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 20, 44, 12
	CONTROL "&None", 402, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 36, 32, 12
	CONTROL "Sha&dow", IDC_SHADOW, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 68, 40, 12
	CONTROL "Custom", 404, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 80, 20, 36, 12
	LTEXT "&Style:", 405, 96, 36, 20, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", 406, "COMBOBOX", CBS_DROPDOWNLIST | CBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 36, 49, 33
	LTEXT "&Color:", 407, 96, 52, 20, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", 408, "COMBOBOX", CBS_DROPDOWNLIST | CBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 52, 49, 33
	LTEXT "&Weight", 409, 96, 68, 28, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", 410, "COMBOBOX", CBS_DROPDOWNLIST | CBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 68, 49, 33
	CONTROL "Area", 411, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 4, 92, 196, 84
	CONTROL "A&utomatic", 412, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 108, 44, 12
	CONTROL "Non&e", 413, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 124, 32, 12
	CONTROL "Custom", 414, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 80, 108, 36, 12
	LTEXT "&Pattern:", 415, 96, 124, 28, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", 416, "COMBOBOX", CBS_DROPDOWNLIST | CBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 124, 49, 33
	LTEXT "&Foreground:", 417, 96, 140, 40, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", 418, "COMBOBOX", CBS_DROPDOWNLIST | CBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 140, 49, 33
	LTEXT "&Background:", 419, 96, 156, 44, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", 420, "COMBOBOX", CBS_DROPDOWNLIST | CBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 156, 49, 33
	CONTROL "Sample", 421, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 68, 176, 64, 20
END


Text DIALOG 18, 18, 200, 196
STYLE WS_POPUP | WS_BORDER
CAPTION "Text Category"
FONT 8, "Helv"
BEGIN
	CONTROL "Text Alignment", 300, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 8, 4, 84, 192
	CONTROL "Horizontal", 301, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 16, 16, 68, 84
	CONTROL "&Left", 302, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 24, 32, 24, 12
	CONTROL "&Center", 303, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 48, 36, 12
	CONTROL "&Right", 304, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 64, 28, 12
	CONTROL "&Justify", 305, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 80, 32, 12
	CONTROL "Vertical", 306, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 16, 104, 68, 84
	CONTROL "&Top", 307, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 24, 120, 24, 12
	CONTROL "C&enter", 308, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 136, 36, 12
	CONTROL "&Bottom", 309, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 152, 36, 12
	CONTROL "Just&ify", 310, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 168, 32, 12
	CONTROL "Orientation", 311, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 100, 4, 92, 92
	CONTROL "", 312, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 108, 16, 76, 20
	CONTROL "", 313, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 108, 44, 20, 48
	CONTROL "", 314, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 136, 44, 20, 48
	CONTROL "", 315, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 164, 44, 20, 48
	CONTROL "&Automatic Text", IDC_AUTOTEXT, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 104, 164, 64, 12
	CONTROL "A&utomatic Size", IDC_AUTOSIZE, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 104, 180, 64, 12
END

