/**************************************************************************
        Dynamic Dialog Box Demo
        Resources File
        Written by Atif Aziz
**************************************************************************/

#include <windows.h>
#include "ids.h"

        // Dialog Boxes

TextFormat DIALOG 18, 18, 280, 205
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Text Format"
FONT 8, "Helv"
BEGIN
        LTEXT "&Property:", -1, 8, 8, 32, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
        CONTROL "", IDC_PROPERTY, "LISTBOX", LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 8, 20, 64, 124
        DEFPUSHBUTTON "OK", IDOK, 8, 152, 64, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "Cancel", IDCANCEL, 8, 168, 64, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Help", 105, 8, 184, 64, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        CONTROL "", IDC_FRAME_DIALOGBOX, "static", SS_BLACKFRAME | WS_CHILD | NOT WS_VISIBLE, 76, 4, 200, 196
        CONTROL "", IDC_FRAME_FONT, "static", SS_BLACKFRAME | WS_CHILD | NOT WS_VISIBLE, 84, 212, 200, 196
        LTEXT "&Font:", 201, 88, 216, 20, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
        CONTROL "", 202, "COMBOBOX", CBS_SIMPLE | CBS_AUTOHSCROLL | CBS_NOINTEGRALHEIGHT | CBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 88, 228, 80, 48
        LTEXT "Font St&yle:", 203, 176, 216, 36, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
        CONTROL "", 204, "COMBOBOX", CBS_SIMPLE | CBS_AUTOHSCROLL | CBS_NOINTEGRALHEIGHT | CBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 176, 228, 60, 48
        LTEXT "&Size:", 205, 244, 216, 36, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
        CONTROL "", 206, "COMBOBOX", CBS_SIMPLE | CBS_AUTOHSCROLL | CBS_NOINTEGRALHEIGHT | CBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 244, 228, 36, 48
        CONTROL "Effects", 207, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 88, 280, 80, 40
        CONTROL "Stri&keout", 208, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 96, 292, 44, 12
        CONTROL "&Underline", 209, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 96, 304, 44, 12
        CONTROL "Sample", 210, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 176, 280, 104, 68
        LTEXT "&Color:", 211, 88, 324, 24, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
        CONTROL "", 212, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 88, 336, 80, 33
        CTEXT "This font style is limited for the display.\nThe closest style will be used for printing.", 213, 88, 356, 192, 16, WS_CHILD | WS_VISIBLE | WS_GROUP
        CONTROL "Background", 214, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 88, 376, 192, 28
        CONTROL "Auto&matic", 215, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 96, 388, 44, 12
        CONTROL "Tra&nsparent", 216, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 152, 388, 52, 12
        CONTROL "Opa&que", 217, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 220, 388, 40, 12
        CONTROL "", IDC_FRAME_TEXT, "static", SS_BLACKFRAME | WS_CHILD | NOT WS_VISIBLE, 288, 12, 200, 196
        CONTROL "Text Alignment", 300, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 296, 16, 84, 192
        CONTROL "Horizontal", 301, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 304, 28, 68, 84
        CONTROL "&Left", 302, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 312, 44, 24, 12
        CONTROL "&Center", 303, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 312, 60, 36, 12
        CONTROL "&Right", 304, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 312, 76, 28, 12
        CONTROL "&Justify", 305, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 312, 92, 32, 12
        CONTROL "Vertical", 306, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 304, 116, 68, 84
        CONTROL "&Top", 307, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 312, 132, 24, 12
        CONTROL "C&enter", 308, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 312, 148, 36, 12
        CONTROL "&Bottom", 309, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 312, 164, 36, 12
        CONTROL "Just&ify", 310, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 312, 180, 32, 12
        CONTROL "Orientation", 311, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 388, 16, 92, 92
        CONTROL "", 312, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 396, 28, 76, 20
        CONTROL "", 313, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 396, 56, 20, 48
        CONTROL "", 314, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 424, 56, 20, 48
        CONTROL "", 315, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 452, 56, 20, 48
        CONTROL "&Automatic Text", 316, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 392, 176, 64, 12
        CONTROL "A&utomatic Size", 317, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 392, 192, 64, 12
        CONTROL "", IDC_FRAME_PATTERNS, "static", SS_BLACKFRAME | WS_CHILD | NOT WS_VISIBLE, 288, 212, 200, 196
        CONTROL "Border", 400, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 292, 216, 196, 84
        CONTROL "&Automatic", 401, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 300, 232, 44, 12
        CONTROL "&None", 402, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 300, 248, 32, 12
        CONTROL "Sha&dow", 403, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 300, 280, 40, 12
        CONTROL "Custom", 404, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 368, 232, 36, 12
        LTEXT "&Style:", 405, 384, 248, 20, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
        CONTROL "", 406, "COMBOBOX", CBS_DROPDOWNLIST | CBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 428, 248, 49, 33
        LTEXT "&Color:", 407, 384, 264, 20, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
        CONTROL "", 408, "COMBOBOX", CBS_DROPDOWNLIST | CBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 428, 264, 49, 33
        LTEXT "&Weight", 409, 384, 280, 28, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
        CONTROL "", 410, "COMBOBOX", CBS_DROPDOWNLIST | CBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 428, 280, 49, 33
        CONTROL "Area", 411, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 292, 304, 196, 84
        CONTROL "A&utomatic", 412, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 300, 320, 44, 12
        CONTROL "Non&e", 413, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 300, 336, 32, 12
        CONTROL "Custom", 414, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 368, 320, 36, 12
        LTEXT "&Pattern:", 415, 384, 336, 28, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
        CONTROL "", 416, "COMBOBOX", CBS_DROPDOWNLIST | CBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 428, 336, 49, 33
        LTEXT "&Foreground:", 417, 384, 352, 40, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
        CONTROL "", 418, "COMBOBOX", CBS_DROPDOWNLIST | CBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 428, 352, 49, 33
        LTEXT "&Background:", 419, 384, 368, 44, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
        CONTROL "", 420, "COMBOBOX", CBS_DROPDOWNLIST | CBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 428, 368, 49, 33
        CONTROL "Sample", 421, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 356, 388, 64, 20
END
